@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?20y8a8');
  src:  url('../fonts/icomoon.eot?20y8a8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?20y8a8') format('truetype'),
    url('../fonts/icomoon.woff?20y8a8') format('woff'),
    url('../fonts/icomoon.svg?20y8a8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-delete:before {
  content: "\e92c";
}
.icon-password:before {
  content: "\e92b";
}
.icon-username:before {
  content: "\e92d";
}
.icon-registration:before {
  content: "\e926";
}
.icon-record:before {
  content: "\e927";
}
.icon-technical-feedback:before {
  content: "\e928";
}
.icon-service:before {
  content: "\e929";
}
.icon-submit-feedback:before {
  content: "\e92a";
}
.icon-restore:before {
  content: "\e910";
}
.icon-reset:before {
  content: "\e912";
}
.icon-closed:before {
  content: "\e915";
}
.icon-related:before {
  content: "\e909";
}
.icon-sign-out:before {
  content: "\e90a";
}
.icon-drow-down:before {
  content: "\e90b";
}
.icon-list:before {
  content: "\e90c";
}
.icon-format:before {
  content: "\e90d";
}
.icon-dms-select:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e90f";
}
.icon-self-test:before {
  content: "\e911";
}
.icon-edit:before {
  content: "\e908";
}
.icon-equipment-entry:before {
  content: "\e913";
}
.icon-equipment-select:before {
  content: "\e914";
}
.icon-map-selected:before {
  content: "\e904";
}
.icon-equipment-selected:before {
  content: "\e906";
}
.icon-user-selected:before {
  content: "\e905";
}
.icon-userlist-selected:before {
  content: "\e907";
}
.icon-map:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-equipment:before {
  content: "\e902";
}
.icon-userlist:before {
  content: "\e903";
}
