@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gy40nv');
  src:  url('../fonts/icomoon.eot?gy40nv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gy40nv') format('truetype'),
    url('../fonts/icomoon.woff?gy40nv') format('woff'),
    url('../fonts/icomoon.svg?gy40nv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-restore:before {
  content: "\e910";
}
.icon-reset:before {
  content: "\e912";
}
.icon-related:before {
  content: "\e909";
}
.icon-sign-out:before {
  content: "\e90a";
}
.icon-drow-down:before {
  content: "\e90b";
  color: #8a8a8a;
}
.icon-list:before {
  content: "\e90c";
}
.icon-format:before {
  content: "\e90d";
}
.icon-dms-select:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e90f";
}
.icon-self-test:before {
  content: "\e911";
}
.icon-edit:before {
  content: "\e908";
}
.icon-equipment-entry:before {
  content: "\e913";
}
.icon-equipment-select:before {
  content: "\e914";
}
.icon-map-selected:before {
  content: "\e904";
  color: #0b5fde;
}
.icon-equipment-selected:before {
  content: "\e906";
  color: #0b5fde;
}
.icon-user-selected:before {
  content: "\e905";
  color: #0b5fde;
}
.icon-userlist-selected:before {
  content: "\e907";
  color: #0b5fde;
}
.icon-map:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-equipment:before {
  content: "\e902";
}
.icon-userlist:before {
  content: "\e903";
}
