<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>南方云</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="../../css/mui.min.css">
  <link rel="stylesheet" href="../../css/list.css">
  <style type="text/css">
    [v-cloak] {
      display: none;
    }

    #topPopover .mui-popover-arrow {
      left: auto;
      right: 6px;
    }

    .mui-popover {
      height: 124px;
      width: 140px;
      left: 0;
      margin-right: 5px;
      position: fixed;
      top: 0;
      border-radius: 0;
    }

    .rtk-item {
      display: flex;
      margin: 0;
      height: 30px;
      line-height: 30px;
    }

    .rtk-item-left {
      flex: 1;
      font-size: 18px;
      color: #333;
    }

    .rtk-item-right {
      flex: 0 0 150px;
      width: 150px;
      font-size: 15px;
      color: #999;
      text-align: left;
    }

    .track {
      background-color: #b3b3b3;
    }

    .track:enabled:active {
      background-color: #999;
    }

    .set {
      background-color: #1d77bf;
    }

    .set:enabled:active {
      background-color: #1966a6;
    }

    .del {
      background-color: #e44343;
    }

    .del:enabled:active {
      background-color: #c93a3a;
    }


    .mui-table-view-cell {
      padding: 8px 0 8px 8px;
    }

    .mui-table-view-cell>.mui-slider-right>.mui-btn {
      font-size: 15px;
    }

    #segmentedControls a {
      width: 100%;
    }

    img {
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-bottom: -2px;
    }

    .img-on {
      width: 15px;
      height: 9px;
      margin-bottom: 2px;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <div id="topPopover" class="mui-popover">
      <div class="mui-popover-arrow"></div>
      <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
          <div id="segmentedControls" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-vertical togglePage">
            <a class="mui-control-item mui-active" @click="changeType(-1)">全部</a>
            <a class="mui-control-item" @click="changeType(1)">在线</a>
            <a class="mui-control-item" @click="changeType(0)">离线</a>
          </div>
        </div>
      </div>
    </div>
    <div id="pullrefresh" class="mui-content mui-scroll-wrapper">
      <div class="mui-scroll">
        <!--数据列表-->
        <div class="mui-table-view">
          <div class="mui-table-view-cell rtk-li" v-for="(v,k) in list" :key="k" :id="v.identifyCode">
            <div class="mui-row mui-slider-handle" @click="rtkdetail(v.identifyCode)">
              <div class="rtk-item">
                <div class="text-hidden rtk-item-left">
                  <img src="../../public/img/on.png" v-if="v.onlineStatus == 1" class="img-on">
                  <img src="../../public/img/off.png" v-if="v.onlineStatus == 0" class="img-on"> {{ v.identifyCode }}
                </div>
                <div class="time rtk-item-right">{{v.createDate}}</div>
              </div>
              <div class="rtk-item">
                <div class="text-hidden rtk-item-left" style="font-size: 16px">
                  <img src="../../public/img/user1.png"> {{v.upDataUserName ? v.upDataUserName : '-'}}
                </div>
                <div class="text-hidden time rtk-item-right">
                  <img src="../../public/img/alias.png"> {{v.upDataCompanyInfo ? v.upDataCompanyInfo : '-'}}
                </div>
              </div>
            </div>
            <div class="mui-slider-right mui-disabled">
              <button class="mui-btn mui-btn-primary track" @click="track(v.identifyCode)">轨迹</button>
              <button type="button" class="mui-btn mui-btn-success set" @click="set(v.identifyCode)" v-show="v.onlineStatus == 1 && v.supportSic20 == true">设置</button>
              <!-- <button type="button" class="mui-btn mui-btn-success set" @click="set(v.identifyCode)" >设置</button> -->
              <button class="mui-btn mui-btn-danger del" @click="del(v.identifyCode)">删除</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../../js/mui.min.js"></script>
  <script src="../../js/url.js"></script>
  <script src="../../js/vue.min.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        user_name: '',
        token: '',
        theVal: '',
        list: [],
        type: '-1',
        rtkWb: null
      },
      methods: {
        changeType: function (type) {
          this.type = type;
          mui('#topPopover').popover('hide');
          mui.fire(vm.rtkWb, 'typeSearch', {
            type: type
          });
          page = 0;
          vm.list = [];
          getData();
        },

        rtkdetail: function (identify_code) {
          var dom = document.getElementById(identify_code);
          mui.swipeoutClose(dom);
          mui.openWindow({
            url: 'rtkdetail.html',
            id: 'rtkdetail',
            extras: {
              identify_code: identify_code
            }
          });
        },

        track: function (identify_code) {
          var dom = document.getElementById(identify_code);
          mui.swipeoutClose(dom);
          mui.openWindow({
            url: 'rtktrack.html',
            id: 'rtktrack',
            extras: {
              identify_code: identify_code
            }
          });
        },
        set: function (identify_code) {
          var dom = document.getElementById(identify_code);
          mui.swipeoutClose(dom);
          mui.openWindow({
            url: 'rtkset.html',
            id: 'rtkset',
            extras: {
              identifyCode: identify_code
            }
          });
        },
        del: function (identify_code) {
          var dom = document.getElementById(identify_code);
          mui.swipeoutClose(dom);
          var btnArray1 = ['否', '是'];
          mui.confirm('删除选中设备？ ', 'South', btnArray1, function (e) {
            if (e.index == 1) {
              mui.ajax(apiUrl.DeviceDelete, {
                data: {
                  identify_code: identify_code,
                  user_name: vm.user_name,
                  token: vm.token
                },
                dataType: 'json',
                type: 'post',
                timeout: 10000,
                success: function (data) {
                  if (data.status === 0) {
                    mui.toast('删除成功！');
                    dom.parentNode.removeChild(dom);
                  } else if (data.status == 40004) {
                    mui.openWindow({
                      url: '../../login.html',
                      id: 'login'
                    });
                  } else {
                    mui.toast(data.info);
                  }
                }
              });
            }
          }, 'div');
        }
      },
      created: function () {
        mui.plusReady(function () {
          mui.init({
            pullRefresh: {
              container: '#pullrefresh',
              up: {
                contentrefresh: '正在加载...',
                callback: pullupRefresh,
                auto: false // 可选,默认false.自动上拉加载一次
              },
              down: {
                callback: pulldownRefresh
              }
            }
            // gestureConfig: {
            //   longtap: true, //默认为false
            // }
          });

          vm.user_name = plus.storage.getItem('user_name');
          vm.token = plus.storage.getItem('token');
          vm.rtkWb = plus.webview.currentWebview().parent();
          getData();

          /* mui('.mui-table-view').on('tap', '.mui-slider-handle', function () {
            var identify_code = this.parentNode.getAttribute('id');
            var dom = document.getElementById(identify_code);
            mui.swipeoutClose(dom);
            mui.openWindow({
              url: 'rtkdetail.html',
              id: 'rtkdetail',
              extras: {
                identify_code: identify_code,
              }
            });
          }); */
        });
      },

      filters: {
        getTime: function (value) {
          if (!value) return '';
          return timeTrans(value * 1000, 'yyyy-MM-dd HH:mm:ss');
        }
      }
    });

    /**
     * 上拉加载具体业务实现
     */
    var page = 0;
    var page_number;
    var comArray = ['确认'];

    /**
     * 下拉刷新具体业务实现
     */
    function pulldownRefresh() {
      page = 0;
      vm.list = [];
      getData();
      // location.reload();
      mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
    }

    function pullupRefresh() {
      setTimeout(function () {
        getData();
      }, 800);
    }

    function getData() {
      plus.nativeUI.showWaiting();
      mui.ajax(apiUrl.device_list, {
        data: {
          user_name: vm.user_name,
          token: vm.token,
          page_num: ++page,
          num_per_page: 25,
          filter_identifycode: vm.theVal,
          filter_online_status: vm.type
        },
        dataType: 'json',
        type: 'post',
        timeout: 10000,
        success: function (data) {
          if (data.status === 0) {
            if (data.pageCount == 1) {
              mui('#pullrefresh').pullRefresh().disablePullupToRefresh();
              mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
            } else if (page == data.endPageIndex) {
              mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
            } else {
              mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);
            }
            if (data.recordList.length == 0 && data.currentPage == 1) {
              // mui.confirm('暂无数据!', 'SouthCloud', comArray, function(e) {}, 'div');
              mui.toast('暂无数据!');
            }
            vm.list = vm.list.concat(data.recordList);
          } else if (data.status == 40004) {
            mui.toast(data.info);
            setTimeout(function () {
              mui.openWindow({
                url: '../../login.html',
                id: 'login'
              });
            }, 1500);
          } else {
            mui.toast(data.info);
          }
          plus.nativeUI.closeWaiting();
        },
        error: function (xhr, type, errorThrown) {
          // 异常处理；
          onNetChange();
        }
      });
    }

    window.addEventListener('search', function (event) {
      vm.theVal = event.detail.searchVal;
      page = 0;
      vm.list = [];
      getData();
    });

    window.addEventListener('online', function (event) {
      var clickCount = event.detail.clickCount;
      vm.theVal = event.detail.searchVal;
      if (clickCount == 0) {
        mui('#topPopover').popover('show');
      } else {
        mui('#topPopover').popover('hide');
      }
    });

    mui('body').on('shown', '.mui-popover', function (e) {
      // console.log('shown', e.detail.id);//detail为当前popover元素
    });
    mui('body').on('hidden', '.mui-popover', function (e) {
      // console.log('hidden', e.detail.id);//detail为当前popover元素
    });
  </script>
</body>

</html>