<!doctype html>
<html>

<head>
  <title>设备设置</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no">
  <meta name="viewport" content="initial-scale=0.3333333333333333, maximum-scale=0.3333333333333333, minimum-scale=0.3333333333333333, user-scalable=no">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <link href="../../css/mui.min.css" rel="stylesheet" />
  <link href="../../css/custom.css" rel="stylesheet" />
  <style type="text/css">
    [v-cloak] {
      display: none;
    }

    .mui-bar {
      padding: 0 0;
    }

    .nav-wrapper {
      display: flex;
      height: 44px;
      line-height: 44px;
      margin-top: 48px;
      border: none;
      background-color: #e0e0e0;
      padding: 0 5px;
    }

    .nav-item {
      flex: 1;
      height: 44px;
      line-height: 44px;
      border-left: none;
      font-size: 18px;
      background-color: #e0e0e0;
      color: #999;
      text-align: center;
    }

    .nav-active {
      color: #333;
      background-color: #e0e0e0;
      border-bottom: 3px solid #999;
      border-right: none;
      border-top: none;
      border-left: none;
    }


    .mui-segmented-control {
      border: none;
    }

    .subnav {
      margin-top: 15px;
      height: 58px;
      line-height: 58px;
      background-color: #fff;
      border-bottom: 1px solid #dbdbdb;
      border-top: 1px solid #dbdbdb;
      font-size: 18px;
      color: #999;
    }

    .subnav-wrapper {
      display: flex;
      padding: 0 2px;
    }

    .subnav-left {
      flex: 0 0 105px;
      width: 105px;
      height: 58px;
      line-height: 58px;
      padding: 0 12px;
    }

    .subnav-right {
      flex: 1;
      height: 40px;
      line-height: 40px;
      margin-top: 9px;
      text-align: center;
      border: 1px solid #cdcdcd;
    }

    .item-wrapper {
      margin-top: 16px;
    }

    .item-wrapper-li {
      display: flex;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      border-bottom: 1px solid #dbdbdb;
      background-color: #fff;
    }

    .item-wrapper-left {
      flex: 0 0 100px;
      width: 100px;
      margin: 0 10px 0 0;
      text-align: right;
    }

    .item-wrapper-right {
      flex: 1;
    }

    .li-row-right1 {
      display: inline-block;
      width: calc(100% - 135px);
      height: 42px;
      line-height: 42px;
      padding-left: 14px;
    }

    .mui-icon {
      font-size: 40px;
      width: 40px;
      height: 40px;
      text-align: center;
      vertical-align: middle;
    }

    .mui-icon-checkmarkempty {
      color: green;
    }

    .mui-icon-closeempty {
      color: red;
    }

    .item-base {
      height: 48px;
      line-height: 48px;
      text-align: center;
      margin-top: 24px;
      padding: 0 25%
    }

    .mui-btn-base {
      color: #333;
      border: 1px solid #999;
      background-color: #fff;
      height: 48px;
      line-height: 48px;
      padding: 0;
    }

    .mui-btn-base:enabled:active {
      color: #333;
      background-color: #e5e5e5;
      border: 1px solid #ccc;
    }

    .item-foot {
      height: 50px;
      line-height: 50px;
      margin-top: 32px;
      padding: 0 20px;
      text-align: center
    }

    .item-foot div {
      height: 50px;
      line-height: 50px;
      display: inline-block;
      width: calc( (100% - 50px) / 2);
      margin: 0 10px
    }

    .item-li {
      width: 100px;
      height: 50px;
      line-height: 50px;
      padding: 0 15px 0 0;
      text-align: right;
    }

    .item-close {
      margin: 50px 0 20px 0;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-bottom: 1px solid #dbdbdb;
      border-top: 1px solid #dbdbdb;
      color: red;
      text-decoration: underline;
    }

    select,
    input,
    input[type=text],
    input[type=number],
    input[type=password] {
      margin: 0;
      padding: 0;
      height: 45px;
      color: #333;
      font-size: 18px;
      border: none;
    }

    .mui-switch {
      margin-top: 8px;
    }

    .mui-switch:before {
      top: -11px;
    }

    .switch-left {
      vertical-align: top;
    }

    .mui-content {
      max-height: calc(100% - 150px);
    }


    .borderNo {
      border-left: none;
      border-right: none;
    }

    .borderL {
      border-left: none;
    }

    .borderR {
      border-right: none;
    }

    .borderT {
      border-top: 1px solid #dbdbdb;
    }

    .borderR1 {
      border-right: 1px solid #dbdbdb;
    }

    .active {
      border: 1px solid #1d77bf;
      color: #1d77bf;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <header class="mui-bar mui-bar-nav">
      <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="padding-left: 10px"></a>
      <h1 class="mui-title">设置—{{identifyCode}}</h1>
      <div class="nav-wrapper">
        <span class="nav-item" :class="{'nav-active': navActive === 'workPage'}" @click="togglePage('workPage')">工作模式</span>
        <span class="nav-item" :class="{'nav-active': navActive === 'dataLinkPage'}" @click="togglePage('dataLinkPage')">数据链</span>
        <span class="nav-item" :class="{'nav-active': navActive === 'otherPage'}" @click="togglePage('otherPage')">其它</span>
      </div>
    </header>
    <div class="mui-content" style="padding-top: 100px">
      <div class="subnav" v-show="navActive === 'workPage'">
        <div class="subnav-wrapper">
          <div class="subnav-left">选择模式</div>
          <div v-for="(v,k) in modal" :id="v.id" class="subnav-right" :class="{active: wActive == v.id, borderNo: k==1, borderR:k == 0 && wActive == 'ROVER', borderL:k == 2 && wActive == 'ROVER'}"
            @click="toggleModel(v.id)">{{v.name}}</div>
        </div>
        <!-- 基准站 -->
        <div class="item-wrapper" v-show="wshow === 'BASE'">
          <div class="item-wrapper-li borderT">
            <div class="item-wrapper-left">
              差分格式
            </div>
            <div class="item-wrapper-right">
              <select name="rtmRadios" id="rtmRadios" v-model="bVal.rtmRadios">
                <option value="RTCA">RTCA</option>
                <option value="RTCM">RTCM</option>
                <option value="RTCM23">RTCM23</option>
                <option value="RTCM3">RTCM3</option>
                <option value="RTCM30">RTCM30</option>
                <option value="RTCM32">RTCM32</option>
                <option value="RTD">RTD</option>
                <option value="CMR">CMR</option>
                <option value="SCMRX">SCMRX</option>
                <option value="CMRX">CMRX</option>
                <option value="NOVATELX">NOVATELX</option>
              </select>
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="baseS.rtmRadios"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="baseE.rtmRadios"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              发射间隔
            </div>
            <div class="item-wrapper-right">
              <select name="launch" id="launch" v-model="bVal.launch">
                <option value="1">1s</option>
                <option value="2">2s</option>
              </select>
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="baseS.launch"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="baseE.launch"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              截止角
            </div>
            <div class="item-wrapper-right">
              <input type="number" min="0" max="90" value="" name="base-cutangle" id="base-cutangle" placeholder="取值为0-90整数" v-model="bVal.cutangle">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="baseS.cutangle"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="baseE.cutangle"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              PDOP
            </div>
            <div class="item-wrapper-right">
              <input type="number" value="" class="PDOP" name="base-pdopInput" id="base-pdopInput" placeholder="支持2位小数" v-model="bVal.pdop">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="baseS.pdop"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="baseE.pdop"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              天线类型
            </div>
            <div class="item-wrapper-right">
              <select name="baseLaunch" id="baseLaunch" v-model="bVal.baseLaunch">
                <option value="4">直高</option>
                <option value="2">斜高</option>
                <option value="16">杆高</option>
                <option value="8">侧片高</option>
                <option value="1">天线相位中心</option>
              </select>
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="baseS.baseLaunch"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="baseE.baseLaunch"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              天线高(m)
            </div>
            <div class="item-wrapper-right">
              <input type="number" min="0" max="100" value="" id="base-antennaInput" placeholder="0-100,支持3位小数" name="base-antennaInput"
                v-model="bVal.antenna">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="baseS.antenna"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="baseE.antenna"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              纬度
            </div>
            <div class="item-wrapper-right">
              <input type="number" id="latitude" placeholder="纬度" name="latitude" v-model="bVal.latitude">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="baseS.latitude"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="baseE.latitude"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              经度
            </div>
            <div class="item-wrapper-right">
              <input type="number" id="longitude" placeholder="经度" name="longitude" v-model="bVal.longitude">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="baseS.longitude"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="baseE.longitude"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              高程
            </div>
            <div class="item-wrapper-right">
              <input type="number" id="altitude" placeholder="高程" name="altitude" v-model="bVal.altitude">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="baseS.altitude"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="baseE.altitude"></span>
          </div>
          <div class="item-base">
            <button type="button" class="mui-btn mui-btn-block mui-btn-base" @click="getDataBasic()">获取基站坐标</button>
          </div>
          <div class="item-foot">
            <div>
              <button type="button" class="mui-btn mui-btn-block mui-btn-primary" @click="baseSet()">设置</button>
            </div>
            <div>
              <button type="button" class="mui-btn mui-btn-block mui-btn-green" v-show="bVal.show == 'start'" @click="baseStartOrBreak('start')">启动</button>
              <button type="button" class="mui-btn mui-btn-block mui-btn-red" v-show="bVal.show != 'start'" @click="baseStartOrBreak('break')">断开</button>
            </div>
          </div>
        </div>
        <!-- 移动站 -->
        <div class="item-wrapper" v-show="wshow === 'ROVER'">
          <div class="item-wrapper-li borderT">
            <div class="item-wrapper-left">
              截止角
            </div>
            <div class="item-wrapper-right">
              <input type="number" min="0" max="90" value="" name="rover-cutangle" id="rover-cutangle" placeholder="取值为0-90整数" v-model="rVal.cutangle">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="roverS.cutangle"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="roverE.cutangle"></span>
          </div>
          <div class="item-foot">
            <button type="button" class="mui-btn mui-btn-block mui-btn-primary" @click="roverSet()">设置</button>
            <!-- <div>
              <button type="button" class="mui-btn mui-btn-block mui-btn-green" v-show="rVal.show == 'start'">启动</button>
              <button type="button" class="mui-btn mui-btn-block mui-btn-red" v-show="rVal.show != 'start'">断开</button>
            </div> -->
          </div>
        </div>
        <!-- 静态站 -->
        <div class="item-wrapper" v-show="wshow === 'STATIC'">
          <div class="item-wrapper-li borderT">
            <div class="item-wrapper-left">
              采集间隔
            </div>
            <div class="item-wrapper-right">
              <select name="sampling" id="sampling" v-model="sVal.sampling">
                <option value="0.02">0.02s</option>
                <option value="0.05">0.05s</option>
                <option value="0.1">0.1s</option>
                <option value="0.2">0.2s</option>
                <option value="0.5">0.5s</option>
                <option value="1">1s</option>
                <option value="2">2s</option>
                <option value="5">5s</option>
                <option value="10">10s</option>
              </select>
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="staticS.sampling"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="staticE.sampling"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              截止角
            </div>
            <div class="item-wrapper-right">
              <input type="number" min="0" max="90" value="" name="static-cutangle" id="static-cutangle" placeholder="取值为0-90整数" v-model="sVal.cutangle">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="staticS.cutangle"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="staticE.cutangle"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              PDOP
            </div>
            <div class="item-wrapper-right">
              <input type="number" value="" class="PDOP" name="static-pdopInput" id="static-pdopInput" placeholder="支持2位小数" v-model="sVal.pdop">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="staticS.pdop"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="staticE.pdop"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              天线类型
            </div>
            <div class="item-wrapper-right">
              <select name="staticLaunch" id="staticLaunch" v-model="sVal.staticLaunch">
                <option value="4">直高</option>
                <option value="2">斜高</option>
                <option value="16">杆高</option>
                <option value="8">侧片高</option>
                <option value="1">天线相位中心</option>
              </select>
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="staticS.staticLaunch"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="staticE.staticLaunch"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              天线高(m)
            </div>
            <div class="item-wrapper-right">
              <input type="number" min="0" max="100" value="" class="s-radio-inline-input antennaRange" id="static-antennaInput" placeholder="0-100,支持3位小数"
                name="static-antennaInput" v-model="sVal.antenna">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="staticS.antenna"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="staticE.antenna"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left switch-left">
              自动记录
            </div>
            <div class="item-wrapper-right">
              <div class="mui-switch mui-switch-green" id="auto-record" style="display: inline-block;">
                <div class="mui-switch-handle" style="display: inline-block;"></div>
              </div>
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="staticS.record"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="staticE.record"></span>
          </div>
          <div class="item-foot">
            <div>
              <button type="button" class="mui-btn mui-btn-block mui-btn-primary" @click="staticSet()">设置</button>
            </div>
            <div>
              <button type="button" class="mui-btn mui-btn-block mui-btn-green" v-show="sVal.show == 'start'" @click="staticStartOrBreak('start')">启动</button>
              <button type="button" class="mui-btn mui-btn-block mui-btn-red" v-show="sVal.show != 'start'" @click="staticStartOrBreak('break')">断开</button>
            </div>
          </div>
        </div>
      </div>
      <div class="subnav" v-show="navActive === 'dataLinkPage'">
        <div class="subnav-wrapper">
          <div class="subnav-left">选择链路</div>
          <div v-for="(v,k) in link" :id="v.id" class="subnav-right" :class="{active: lActive == v.id, borderNo: k==1, borderR:k == 0 && lActive == 'UHF', borderL:k == 2 && lActive == 'UHF', borderR1: k==1 && lActive !== 'UHF' && link.length === 2}"
            @click="toggleLink(v.id)">{{v.name}}</div>
        </div>
        <div class="item-wrapper" v-show="lshow === 'CELLULAR_NET'">
          <div class="item-wrapper-li borderT">
            <div class="item-wrapper-left">
              IP地址
            </div>
            <div class="item-wrapper-right">
              <input type="text" class="" name="linkMobileIPInput" id="linkMobileIPInput" placeholder="IP地址" v-model="nVal.ip">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="netS.ip"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="netE.ip"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              端口号
            </div>
            <div class="item-wrapper-right">
              <input type="text" class="" name="linkMobilePortInput" id="linkMobilePortInput" placeholder="取值为1024-65535" v-model="nVal.port">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="netS.port"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="netE.port"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              账户
            </div>
            <div class="item-wrapper-right">
              <input type="text" class="" name="linkMobileAccountInput" id="linkMobileAccountInput" placeholder="账号" v-model="nVal.account">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="netS.account"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="netE.account"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              密码
            </div>
            <div class="item-wrapper-right">
              <input type="password" class="" name="linkMobilePswInput" id="linkMobilePswInput" placeholder="密码" v-model="nVal.pw">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="netS.pw"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="netE.pw"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              模式
            </div>
            <div class="item-wrapper-right">
              <select class="" name="linkMobileModel" id="linkMobileModel" v-model="nVal.linkMobileModel">
                <option value="SOUTH">SOUTH</option>
                <option value="NTRIP">NTRIP</option>
                <option value="TCPIP">TCPIP</option>
              </select>
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="netS.linkMobileModel"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="netE.linkMobileModel"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              接入点
            </div>
            <div class="item-wrapper-right">
              <input type="text" class="" name="linkAccessPoint" id="linkAccessPoint" placeholder="" v-model="nVal.linkAccessPoint">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="netS.linkAccessPoint"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="netE.linkAccessPoint"></span>
          </div>
          <div class="item-li">ANP设置</div>
          <div class="item-wrapper-li borderT">
            <div class="item-wrapper-left">
              服务器
            </div>
            <div class="item-wrapper-right">
              <input type="text" value="" class="" id="apnSrver" placeholder="服务器" name="apnSrver" v-model="nVal.apnSrver">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="netS.apnSrver"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="netE.apnSrver"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              用户名
            </div>
            <div class="item-wrapper-right">
              <input type="text" value="" id="apnUser" placeholder="用户名" name="apnUser" v-model="nVal.apnUser">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="netS.apnUser"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="netE.apnUser"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              密码
            </div>
            <div class="item-wrapper-right">
              <input type="password" value="" id="apnPassword" placeholder="密码" name="apnPassword" v-model="nVal.apnPassword">
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="netS.apnPassword"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="netE.apnPassword"></span>
          </div>
          <div class="item-foot">
            <button type="button" class="mui-btn mui-btn-block mui-btn-primary" @click="netSet()">设置</button>
          </div>
        </div>
        <div class="item-wrapper" v-show="lshow === 'UHF'">
          <div class="item-wrapper-li borderT">
            <div class="item-wrapper-left">
              通道设置
            </div>
            <div class="item-wrapper-right">
              <select name="link_channel" id="link_channel" v-model="uVal.link_channel">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
              </select>
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="uhfS.link_channel"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="uhfE.link_channel"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              功率档位
            </div>
            <div class="item-wrapper-right">
              <select name="UHFPowerRadios" id="UHFPowerRadios" v-model="uVal.UHFPowerRadios">
                <option value="HIGH">高</option>
                <option value="LOW">低</option>
              </select>
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="uhfS.UHFPowerRadios"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="uhfE.UHFPowerRadios"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              空中波特率
            </div>
            <div class="item-wrapper-right">
              <select id="braundrateAir" name="braundrateAir" v-model="uVal.braundrateAir">
                <option value="9600">9600</option>
                <option value="19200">19200</option>
                <option value="38400">38400</option>
                <option value="57600">57600</option>
                <option value="115200">115200</option>
              </select>
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="uhfS.braundrateAir"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="uhfE.braundrateAir"></span>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              选择协议
            </div>
            <div class="item-wrapper-right">
              <select name="link_UHF_protocol" id="link_UHF_protocol" v-model="uVal.link_UHF_protocol">
                <option value="TRIMMARKLL">TRIMMARKLL</option>
                <option value="SOUTH">SOUTH</option>
                <option value="TRIMTALK">TRIMTALK</option>
                <option value="SATEL">SATEL</option>
                <option value="TT450S">TT450S</option>
                <option value="TRIMMARK3">TRIMMARK3</option>
                <option value="TRANSEOT">TRANSEOT</option>
              </select>
            </div>
            <span class="mui-icon mui-icon-checkmarkempty" v-show="uhfS.link_UHF_protocol"></span>
            <span class="mui-icon mui-icon mui-icon-closeempty" v-show="uhfE.link_UHF_protocol"></span>
          </div>
          <div class="item-foot">
            <button type="button" class="mui-btn mui-btn-block mui-btn-primary" @click="uhfSet()">设置</button>
          </div>
        </div>
        <div class="item-wrapper" v-show="lshow === 'WIFI'">
          <div class="item-wrapper-li borderT">
            <div class="li-row-left switch-left">
              启用
            </div>
            <div class="item-wrapper-right">
              <div class="mui-switch mui-switch-green" id="wifiOn">
                <div class="mui-switch-handle"></div>
              </div>
            </div>
          </div>
          <div class="item-wrapper-li">
            <div class="li-row-left switch-left">
              工作模式
            </div>
            <div class="item-wrapper-right">
              <div class="mui-switch mui-switch-blue" id="wifiModel">
                <div class="mui-switch-handle"></div>
              </div>
            </div>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              IP地址
            </div>
            <div class="item-wrapper-right">
              <input type="text" class="" name="wifiIP" id="wifiIP" placeholder="只能查看不能设置" disabled="disabled">
            </div>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              AP_SSID
            </div>
            <div class="item-wrapper-right">
              <input type="text" class="" name="wifiSSID" id="wifiSSID" placeholder="请输入SSID" value="southgnss">
            </div>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              AP密码
            </div>
            <div class="item-wrapper-right">
              <input type="password" class="" name="wifiPw" id="wifiPw" placeholder="密码">
            </div>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              加密方式
            </div>
            <div class="item-wrapper-right">
              <select class="" name="jmpw" id="jmpw">
                <option value="OPEN">开放</option>
                <option value="WAP2">WAP2</option>
              </select>
            </div>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              AP信道
            </div>
            <div class="item-wrapper-right">
              <select class="" name="wifixd" id="wifixd">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
              </select>
            </div>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
              DHCP
            </div>
            <div class="item-wrapper-right">
              <input type="radio" name="allot" id="IPallot1" value="1">192.168.
              <input type="text" style="width: 40px; padding: 5px; height: 30px" value="0" id="ip1" />.0
            </div>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
            </div>
            <div class="item-wrapper-right">
              <input type="radio" name="allot" id="IPallot2" value="2">172.16.
              <input type="text" style="width: 40px; padding: 5px; height: 30px" value="0" id="ip2" />.0
            </div>
          </div>
          <div class="item-wrapper-li">
            <div class="item-wrapper-left">
            </div>
            <div class="item-wrapper-right">
              <input type="radio" name="allot" checked="checked" id="IPallot3" value="3">&nbsp;&nbsp;10.
              <input type="text" style="width: 40px; padding: 5px; height: 30px" value="1" id="ip3" />.
              <input type="text" style="width: 40px; padding: 5px; height: 30px" value="1" id="ip4" />.0
            </div>
          </div>
          <div class="item-foot">
            <button type="button" class="mui-btn mui-btn-block mui-btn-primary">设置</button>
          </div>
        </div>
      </div>
      <div class="subnav" v-show="navActive === 'otherPage'">
        <div class="item-wrapper-li">
          <div class="item-wrapper-left switch-left">
            使用语音
          </div>
          <div class="item-wrapper-right">
            <div class="mui-switch mui-switch-green" id="use-voice">
              <div class="mui-switch-handle"></div>
            </div>
          </div>
        </div>
        <div class="item-wrapper-li">
          <div class="item-wrapper-left">
            选择语言
          </div>
          <div class="item-wrapper-right">
            <select name="language" id="language" v-model="lanCheck">
              <option :value="v" v-for="v in oVal.language">{{v|transLan}}</option>
            </select>
          </div>
        </div>
        <div class="item-wrapper-li">
          <div class="item-wrapper-left">
            主板自检
          </div>
          <div class="item-wrapper-right" @click="selfCheck('checkOEM')">
            {{ oVal.oemcheck }}
          </div>
          <img src="../../public/img/loading.gif" v-show="oVal.oemcheckTip">
        </div>
        <div class="item-wrapper-li">
          <div class="item-wrapper-left">
            电台自检
          </div>
          <div class="item-wrapper-right" @click="selfCheck('checkUHF')">
            {{ oVal.uhfcheck}}
          </div>
          <img src="../../public/img/loading.gif" v-show="oVal.uhfcheckTip">
        </div>
        <div class="item-wrapper-li">
          <div class="item-wrapper-left">
            网络自检
          </div>
          <div class="item-wrapper-right" @click="selfCheck('checkNET')">
            {{ oVal.netcheck}}
          </div>
          <img src="../../public/img/loading.gif" v-show="oVal.netcheckTip">
        </div>
        <div class="item-wrapper-li">
          <div class="item-wrapper-left">
            WIFI自检
          </div>
          <div class="item-wrapper-right" @click="selfCheck('checkWIFI')">
            {{ oVal.wificheck}}
          </div>
          <img src="../../public/img/loading.gif" v-show="oVal.wificheckTip">
        </div>
        <div class="item-li" style="width: 100%; text-align: left; padding-left: 12px">
          当前注册码有效期：
          <span style="color: #333">{{ oVal.regday }}</span>
        </div>
        <div class="item-wrapper-li borderT">
          <div class="item-wrapper-left" style="width: 120px" @click="regCode()">
            <span style="color: #007aff">更新注册码</span>
          </div>
          <div class="item-wrapper-right">
            <input v-model="oVal.regCode" />
          </div>
        </div>
        <div class="item-li">
          其它设置
        </div>
        <div class="item-wrapper-li borderT" style="margin-bottom: 4px">
          <div class="item-wrapper-right borderR1 mui-text-center" @click="otherSet('FORMAT')">
            磁盘格式
          </div>
          <div class="item-wrapper-right borderR1 mui-text-center" @click="otherSet('RECOVER')">
            恢复出厂
          </div>
          <div class="item-wrapper-right borderR1 mui-text-center" @click="otherSet('RESET')">
            重启主机
          </div>
          <div class="item-wrapper-right mui-text-center" @click="otherSet('POWEROFF')">
            <span style="color: red">关闭主机</span>
          </div>
        </div>
        <!-- <div class="item-close" @click="otherSet('POWEROFF')">
          关闭主机
        </div> -->
      </div>
    </div>
  </div>
  <script src="../../js/mui.min.js"></script>
  <script src="../../js/url.js"></script>
  <script src="../../js/socket.io.js"></script>
  <script src="../../js/vue.min.js"></script>
  <script type="text/javascript" src="rtkset.js"></script>
</body>

</html>