<!DOCTYPE html>
<html class="ui-page-login">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>南方云登录</title>
  <link href="./css/mui.min.css" rel="stylesheet" />
  <link href="./css/custom.css" rel="stylesheet" />
  <style>
    html,
    body,
    .mui-content {
      background: #e1e7eb;
    }

    .wrapper {
      min-height: 100%;
      margin-bottom: -80px;
      background: #e1e7eb;
    }

    .mui-content {
      padding-top: 0;
    }

    .footer,
    .push {
      height: 80px;
      background: #e1e7eb;
    }

    .logo-wrapper>img {
      height: 40%;
      width: 100%;
    }

    .inputWrapper {
      margin-top: 35px;
    }

    .inputWrapper>div {
      margin-left: 25px;
      margin-right: 25px;
    }

    .png {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 24px;
      height: 24px;
    }

    .mui-password {
      margin-top: 5px
    }

    input[type=text],
    input[type=password],
    .lab {
      height: 50px;
      line-height: 50px;
      border: 1px solid #ccc;
      padding-left: 40px
    }

    input {
      font-size: 16px
    }

    .mui-input-row .mui-input-clear~.mui-icon-clear,
    .mui-input-row .mui-input-password~.mui-icon-eye,
    .mui-input-row .mui-input-speech~.mui-icon-speech {
      top: 15px;
    }

    .mui-btn-primary {
      height: 50px;
      line-height: 50px;
      font-size: 18px;
    }

    .reg-wrapper {
      margin-top: 20px;
      text-align: center;
      font-size: 18px;
      color: #1d77bf
    }
  </style>
</head>

<body>
  <div class="mui-content" id="app">
    <div class="wrapper">
      <div class="mui-row logo-wrapper">
        <img src="./public/img/login.png">
      </div>
      <div class="mui-row inputWrapper">
        <div class="mui-input-row">
          <img src="./public/img/user.png" class="png">
          <input type="text" class="mui-input-clear mui-input" placeholder="请输入用户名" v-model="userName">
        </div>
        <div class="mui-input-row mui-password">
          <img src="./public/img/pw.png" class="png">
          <input type="password" class="mui-input-password" placeholder="请输入密码" v-model="password">
        </div>
        <div style="margin-top: 30px">
          <button class="mui-btn mui-btn-block mui-btn-primary" @click="login">登&nbsp;&nbsp;录</button>
        </div>
        <!-- <div class="reg-wrapper">
          <a style="color: #1d77bf" @click="register">注 册</a>
        </div> -->
      </div>
      <div class="push"></div>
    </div>
    <footer class="footer">
      <div class="mui-row" style="margin-bottom: 8px;text-align:center;font-size: 12px; color:#9db3c5">
        当前版本号：
        <span>{{version}}</span>
      </div>
      <div class="mui-row">
        <img src="./public/img/foot.png" style="height: 40px;width: 100%;">
      </div>
    </footer>
  </div>
  <script src="./js/mui.min.js"></script>
  <script src="./js/mui.enterfocus.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/sha1.js"></script>
  <script src="./js/url.js"></script>
  <script src="./js/vue.min.js"></script>
  <script>
  	var equipment_page = null;
var vm = new Vue({
  el: '#app',
  data: {
    userName: '',
    password: '',
    version: ''
  },
  methods: {
    login: function () {
      if (!this.userName || !this.password) {
        mui.toast('帐号或密码不能为空！');
        return;
      } else {
        setTimeout(function () {
          plus.nativeUI.showWaiting();
        }, 300);
      }

      // plus.nativeUI.showWaiting('', {width:"60px",height:'60px'});
      mui.ajax(apiUrl.login, {
        data: {
          user_name: vm.userName,
          signature: hex_sha1(vm.password)
        },
        dataType: 'json',
        type: 'post',
        timeout: 10000,
        success: function (data) {
            	console.log(JSON.stringify(data));
          if (data.status === 0) {
            var ws = plus.webview.getWebviewById('main');
            plus.webview.close(ws);
            var token = data.token;
            var realName = data.realName;
            plus.storage.setItem('token', token);
            plus.storage.setItem('user_name', vm.userName);
            plus.storage.setItem('realName', realName);
            var additionalInfo = JSON.stringify(data.additionalInfo);
            var departInfo = JSON.stringify(data.departInfo[0]);
            plus.storage.setItem('additionalInfo', additionalInfo);
            plus.storage.setItem('departInfo', departInfo);
            mui.ajax(apiUrl.module_desc, {
              data: {
                user_name: vm.userName,
                token: token,
                domain: 'south_cloud_app'
              },
              dataType: 'json',
              type: 'post',
              timeout: 10000,
              success: function (data) {
                if (data.status === 0) {
                  plus.storage.setItem('rtkCount', String(data.device.count));
                  plus.storage.setItem('onlineRtkCount', String(data.device.onlineCount));
                  // plus.storage.setItem("taskCount", String(data.task.task_count));
                  plus.storage.setItem('dataCount', String(data.data.files_count));
                  plus.storage.setItem('dataSize', byteTrans(data.data.files_size));
                  plus.storage.setItem('alertUpdate', 'false');
                  plus.webview.getLaunchWebview().reload();
                  setTimeout(function () {
                    plus.nativeUI.closeWaiting();
                    plus.webview.currentWebview().close();
                  }, 500);
                  if (equipment_page == null) {
                    equipment_page = plus.webview.getWebviewById('equipment.html');
                  }
                  mui.fire(equipment_page, 'refresh', {
                    // 暂时没有需要传的参数
                  });
                } else {
                  plus.nativeUI.toast(data.info);
                  plus.nativeUI.closeWaiting();
                }
              }
            });
          } else {
            plus.nativeUI.toast(data.info);
            setTimeout(function () { plus.nativeUI.closeWaiting(); }, 1000);
          }
        },
        error: function (xhr, type, errorThrown) {
          // 异常处理；
          onNetChange();
          plus.nativeUI.closeWaiting();
        }
      });
    },
    register: function () {
      mui.openWindow({
        url: './app/index/reg.html',
        id: 'reg',
        show: {
          aniShow: 'pop-in',
          duration: 300
        }
      });
    }
  },
  created: function () {
    mui.plusReady(function () {
      mui.init({
        statusBarBackground: '#f7f7f7',
        preloadPages: [{
          id: 'equipment.html',
          url: './app/console/equipment.html'
        }]
      });

      plus.storage.removeItem('user_name');
      plus.storage.removeItem('token');

      vm.version = plus.runtime.version;

      // 关闭guide页
      var guidews = plus.webview.getWebviewById('guide');
      if (guidews) {
        guidews.close('none');
      }
      var settingws = plus.webview.getWebviewById('setting');
      if (settingws) {
        settingws.close('none');
      }

      var resetPw = plus.webview.getWebviewById('./app/index/resetpw.html');
      if (resetPw) {
        resetPw.close('none');
      }

      plus.screen.lockOrientation('portrait-primary');

      var backButtonPress = 0;
      mui.back = function (event) {
        backButtonPress++;
        if (backButtonPress === 1) {
          plus.webview.currentWebview().show();
        }
        if (backButtonPress > 1) {
          plus.runtime.quit();
        } else {
          plus.nativeUI.toast('再按一次退出应用');
        }
        setTimeout(function () {
          backButtonPress = 0;
        }, 1000);
        return false;
      };

      if (plus.os.name === 'Android') {
        mui.ajax(apiUrl.latest_version, {
          data: {
            app_name: 'south_cloud_app',
            local_version: vm.version
          },
          dataType: 'json',
          type: 'post',
          timeout: 10000,
          success: function (data) {
            if (data.status === 0 && data.version !== '') {
              var version = data.version;
              mui.confirm(data.description, 'SouthCloud', ['取消', '更新'], function (e) {
                if (e.index === 1) {
                  plus.runtime.openURL(apiUrl.download_app + '?app_name=south_cloud_app&version=' + version);
                }
              }, 'div');
            }
          }
        });
      }
    });
  }
});
  </script>
</body>

</html>