<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>在线配置</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/custom.css" rel="stylesheet" />
		<link href="../../css/input.css" rel="stylesheet" />
		<link href="../css/onlineSettings.css" rel="stylesheet" />
		<link href="../../css/iconfont.css" rel="stylesheet" />
	</head>

	<body>
		<div id="app" v-cloak>
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">在线配置</h1>
			</header>
			<div class="mui-content">
				<div class="equipmentTitle">
					<span>设备信息-</span>
					<span>{{currentIdentifyCode}}</span>
					<button class="refresh" v-on:tap="refresh">刷新</button>
				</div>
				<div id="slider" class="mui-slider">
					<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<a class="mui-control-item" href="" v-on:tap="togglePage('workPage',$event)">
							工作模式
						</a>
						<!-- 如果处于静态站模式中，切换成span显示元素，让数据链跳转不能点击 -->
						<span v-show="wshow === 'STATIC'" v-on:tap="mui.toast('静态站的模式下不支持数据链设置！')">数据链</span>
						<a class="mui-control-item" href="" v-show="wshow !== 'STATIC'" v-on:tap="togglePage('dataLinkPage',$event)">
								数据链
							</a>
						<a class="mui-control-item" href="" v-on:tap="togglePage('satelliteControl',$event)">
							卫星控制
						</a>
						<a class="mui-control-item" href="" v-on:tap="togglePage('otherPage',$event)">
							其他
						</a>
					</div>
					<!--滚动横线-->
					<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
					<div class="mui-slider-group">
<!--**************************************************************tab1****************************************************************-->
						<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
							<!--模式选择-->
							<ul>
								<li class="modeTitle">
									<div>
										<span>选择模式</span>
									</div>
									<div>
										<button v-for="(item,index) in modetype" :id="item.id" v-on:tap="selectionMode(index)" :class="{active:wActive == item.id}">{{item.name}}</button>
									</div>
								</li>
							</ul>
							<!--*********************基准站**********************-->
							<ul v-show="wActive === 'BASE'" class="baseContent">
								<li>
									<div>
										<span>差分格式</span>
									</div>
									<div class="select">
										<select name="" v-model="bVal.rtmRadios">
											<option v-for="item in DIFFTYPE" :value="item.value">{{item.label}}</option>
										</select>
										<img src="../../public/img/down.png" alt="" class="down" />
									</div>
									<!--<div v-show="baseSetStatus === 1&&currentTabIndex===1">
										<span class="mui-icon mui-icon-checkmarkempty size green"></span>
									</div>
									<div v-show="baseSetStatus === 2&&currentTabIndex===1">
										<span class="mui-icon mui-icon-closeempty size red"></span>
									</div>-->
								</li>
								<li>
									<div>
										<span>发射时间</span>
									</div>
									<div class="radio">
										<div class="mui-input-row mui-radio mui-left">
											<label>1S</label>
											<input name="radio1" type="radio" value = "1" v-model="bVal.launch" :checked="bVal.launch===1">
										</div>
										<div class="mui-input-row mui-radio mui-left">
											<label>2S</label>
											<input name="radio1" type="radio" value = "2" v-model="bVal.launch" :checked="bVal.launch===2">
										</div>
									</div>
									<!--<div v-show="baseSetStatus === 1&&currentTabIndex===1">
										<span class="mui-icon mui-icon-checkmarkempty size green"></span>
									</div>
									<div v-show="baseSetStatus === 2&&currentTabIndex===1">
										<span class="mui-icon mui-icon-closeempty size red"></span>
									</div>-->
								</li>
								<li>
									<div>
										<span>截止角</span>
									</div>
									<div>
										<input type="text" placeholder="取值为0-90整数" v-model="bVal.cutangle"/>
									</div>
									<!--<div v-show="baseSetStatus === 1&&currentTabIndex===1">
										<span class="mui-icon mui-icon-checkmarkempty size green"></span>
									</div>
									<div v-show="baseSetStatus === 2&&currentTabIndex===1">
										<span class="mui-icon mui-icon-closeempty size red"></span>
									</div>-->
								</li>
								<li>
									<div>
										<span>PDOP</span>
									</div>
									<div>
										<input type="text" placeholder="支持2位小数" v-model="bVal.pdop"/>
									</div>
									<!--<div v-show="baseSetStatus === 1&&currentTabIndex===1">
										<span class="mui-icon mui-icon-checkmarkempty size green"></span>
									</div>
									<div v-show="baseSetStatus === 2&&currentTabIndex===1">
										<span class="mui-icon mui-icon-closeempty size red"></span>
									</div>-->
								</li>
								<li>
									<div>
										<span>天线类型</span>
									</div>
									<div class="radio radio2">
										<div class="mui-input-row mui-radio mui-left">
											<label>直高</label>
											<input name="radio2" type="radio" value="4" v-model="bVal.baseLaunch" :checked="bVal.baseLaunch===4">
										</div>
										<div class="mui-input-row mui-radio mui-left">
											<label>斜高</label>
											<input name="radio2" type="radio" value="2" v-model="bVal.baseLaunch" :checked="bVal.baseLaunch===2">
										</div>
										<div class="mui-input-row mui-radio mui-left">
											<label>杠高</label>
											<input name="radio2" type="radio" value="16" v-model="bVal.baseLaunch" :checked="bVal.baseLaunch===16">
										</div>
										<div class="mui-input-row mui-radio mui-left">
											<label>侧片高</label>
											<input name="radio2" type="radio" value="8" v-model="bVal.baseLaunch" :checked="bVal.baseLaunch===8">
										</div>
										<div class="mui-input-row mui-radio mui-left">
											<label>天线相位中心</label>
											<input name="radio2" type="radio" value="1" v-model="bVal.baseLaunch" :checked="bVal.baseLaunch===1">
										</div>
									</div>
									<!--<div v-show="baseSetStatus === 1&&currentTabIndex===1">
										<span class="mui-icon mui-icon-checkmarkempty size green"></span>
									</div>
									<div v-show="baseSetStatus === 2&&currentTabIndex===1">
										<span class="mui-icon mui-icon-closeempty size red"></span>
									</div>-->
								</li>
								<li>
									<div>
										<span>天线高</span>
									</div>
									<div>
										<input type="text" placeholder="0-100，支持3位小数" v-model="bVal.antenna" />
									</div>
									<!--<div v-show="baseSetStatus === 1&&currentTabIndex===1">
										<span class="mui-icon mui-icon-checkmarkempty size green"></span>
									</div>
									<div v-show="baseSetStatus === 2&&currentTabIndex===1">
										<span class="mui-icon mui-icon-closeempty size red"></span>
									</div>-->
								</li>
								<li>
									<div>
										<span>基站坐标</span>
									</div>
									<div class="checkbox">
										<button>获取坐标</button>
										<div class="mui-input-row mui-checkbox mui-left">
											<label>度分秒格式</label>
											<input name="checkbox" value="0" type="checkbox" v-model="DMSchecked">
										</div>
									</div>
								</li>
								<li v-show="DMSchecked!==true">
									<div>
										<span>纬度</span>
									</div>
									<div>
										<input type="text" placeholder="取值为0-90整数" v-model="bVal.latitude" />
									</div>
									<!--<div v-show="baseSetStatus === 1&&currentTabIndex===1">
										<span class="mui-icon mui-icon-checkmarkempty size green"></span>
									</div>
									<div v-show="baseSetStatus === 2&&currentTabIndex===1">
										<span class="mui-icon mui-icon-closeempty size red"></span>
									</div>-->
								</li>
								<li v-show="DMSchecked!==true">
									<div>
										<span>经度</span>
									</div>
									<div>
										<input type="text" placeholder="取值为0-90整数" v-model="bVal.longitude" />
									</div>
									<!--<div v-show="baseSetStatus === 1&&currentTabIndex===1">
										<span class="mui-icon mui-icon-checkmarkempty size green"></span>
									</div>
									<div v-show="baseSetStatus === 2&&currentTabIndex===1">
										<span class="mui-icon mui-icon-closeempty size red"></span>
									</div>-->
								</li>
								<li v-show="DMSchecked===true" class="changeFormat">
									<div>
										<span>纬度</span>
									</div>
									<div class="content">
										<input type="text" v-model="latitude_degree"/>
										<span class="symbol">°</span>
										<input type="text" v-model="latitude_minute"/>
										<span class="symbol">′</span>
										<input type="text" v-model="latitude_second"/>
										<span class="symbol">″</span>
									</div>
									<!--<div v-show="baseSetStatus === 1&&currentTabIndex===1">
										<span class="mui-icon mui-icon-checkmarkempty size green"></span>
									</div>
									<div v-show="baseSetStatus === 2&&currentTabIndex===1">
										<span class="mui-icon mui-icon-closeempty size red"></span>
									</div>-->
								</li>
								<li v-show="DMSchecked===true" class="changeFormat">
									<div>
										<span>经度</span>
									</div>
									<div class="content">
										<input type="text" v-model="longitude_degree"/>
										<span class="symbol">°</span>
										<input type="text" v-model="longitude_minute"/>
										<span class="symbol">′</span>
										<input type="text" v-model="longitude_second"/>
										<span class="symbol">″</span>
									</div>
									<!--<div v-show="baseSetStatus === 1&&currentTabIndex===1">
										<span class="mui-icon mui-icon-checkmarkempty size green"></span>
									</div>
									<div v-show="baseSetStatus === 2&&currentTabIndex===1">
										<span class="mui-icon mui-icon-closeempty size red"></span>
									</div>-->
								</li>
								<li>
									<div>
										<span>高程</span>
									</div>
									<div>
										<input type="text" placeholder="取值为0-90整数" v-model="bVal.altitude" />
									</div>
									<!--<div v-show="baseSetStatus === 1&&currentTabIndex===1">
										<span class="mui-icon mui-icon-checkmarkempty size green"></span>
									</div>
									<div v-show="baseSetStatus === 2&&currentTabIndex===1">
										<span class="mui-icon mui-icon-closeempty size red"></span>
									</div>-->
								</li>
								<li class="btn">
									<button class="setting" v-on:tap="baseSet">设 置</button>
								</li>
								<li class="btn">
									<button class="start" v-show="bVal.show === 'start'"  v-on:tap="baseStartOrBreak('start')">启 动</button>
								</li>
								<li class="btn" v-show="bVal.show !== 'start'"  v-on:tap="baseStartOrBreak('break')">
									<button class="stop">断 开</button>
								</li>
							</ul>
							<!--*********************移动站**********************-->
							<ul v-show="wActive === 'ROVER'">
								<li>
									<div>
										<span>截止角</span>
									</div>
									<div>
										<input type="text" placeholder="取值为0-90整数" v-model="rVal.cutangle" />
									</div>
								</li>
								<li class="btn">
									<button class="setting" v-on:tap="roverSet()">设 置</button>
								</li>
							</ul>
							<!--*********************静态站**********************-->
							<ul v-show="wActive === 'STATIC'">
								<li>
									<div>
										<span>采集间隔</span>
									</div>
									<div class="select">
										<select name="" v-model="sVal.sampling">
											<option v-for="item in collectionInterval" :value="item.value">{{item.label}}</option>
										</select>
										<img src="../../public/img/down.png" alt="" class="down" />
									</div>
								</li>
								<li>
									<div>
										<span>截止角</span>
									</div>
									<div>
										<input type="text" placeholder="取值为0-90整数" v-model="sVal.cutangle" />
									</div>
								</li>
								<li>
									<div>
										<span>PDOP</span>
									</div>
									<div>
										<input type="text" placeholder="取值为0-90整数" v-model="sVal.pdop" />
									</div>
								</li>
								<li>
									<div>
										<span>天线类型</span>
									</div>
									<div class="radio radio2">
										<div class="mui-input-row mui-radio mui-left">
											<label>直高</label>
											<input name="radio3" type="radio" value="4" v-model="sVal.staticLaunch" :checked="sVal.staticLaunch===4">
										</div>
										<div class="mui-input-row mui-radio mui-left">
											<label>斜高</label>
											<input name="radio3" type="radio" value="2" v-model="sVal.staticLaunch" :checked="sVal.staticLaunch===2">
										</div>
										<div class="mui-input-row mui-radio mui-left">
											<label>杠高</label>
											<input name="radio3" type="radio" value="16" v-model="sVal.staticLaunch" :checked="sVal.staticLaunch===16">
										</div>
										<div class="mui-input-row mui-radio mui-left">
											<label>侧片高</label>
											<input name="radio3" type="radio" value="8" v-model="sVal.staticLaunch" :checked="sVal.staticLaunch===8">
										</div>
										<div class="mui-input-row mui-radio mui-left">
											<label>天线相位中心</label>
											<input name="radio3" type="radio" value="1" v-model="sVal.staticLaunch" :checked="sVal.staticLaunch===1">
										</div>
									</div>
								</li>
								<li>
									<div>
										<span>天线高</span>
									</div>
									<div>
										<input type="text" placeholder="0-100，支持3位小数" v-model="sVal.antenna" />
									</div>
								</li>
								<li class="autoMark">
									<div>
										<span>自动记录</span>
									</div>
									<div>
										<div class="mui-switch mui-active" id="auto-record">
											<div class="mui-switch-handle"></div>
										</div>
									</div>
								</li>
								<li class="btn">
									<button class="setting" v-on:tap="staticSet()">设 置</button>
								</li>
								<li class="btn" v-show="sVal.show === 'start'">
									<button class="start" v-on:tap="staticStartOrBreak('start')">启 动</button>
								</li>
								<li class="btn" v-show="sVal.show !== 'start'">
									<button class="stop" v-on:tap="staticStartOrBreak('break')">断 开</button>
								</li>
							</ul>
						</div>
<!--**************************************************************tab2****************************************************************-->
						<div id="item2mobile" class="mui-slider-item mui-control-content">
							<!--模式选择-->
							<ul>
								<li class="modeTitle">
									<div>
										<span>选择链路</span>
									</div>
									<div>
										<button v-for="(item,index) in linktype" :id="item.id" v-on:tap="selectionLink(index)" :class="{active:lActive == item.id}">{{item.name}}</button>
									</div>
								</li>
							</ul>
							<!--*********************移动网络**********************-->
							<ul v-show="lActive === 'CELLULAR_NET'">
								<li>
									<div>
										<span>ip地址</span>
									</div>
									<div>
										<input type="text" placeholder="ip地址" v-model="nVal.ip" />
									</div>
								</li>
								<li>
									<div>
										<span>端口号</span>
									</div>
									<div>
										<input type="text" placeholder="端口号" v-model="nVal.port" />
									</div>
								</li>
								<li>
									<div>
										<span>账户ID</span>
									</div>
									<div>
										<input type="text" placeholder="账户ID" v-model="nVal.account" />
									</div>
								</li>
								<li>
									<div>
										<span>密码</span>
									</div>
									<div>
										<input type="text" placeholder="密码" v-model="nVal.pw" />
									</div>
								</li>
								<li>
									<div>
										<span>模式</span>
									</div>
									<div class="select">
										<select name="" v-model="nVal.linkMobileModel">
											<option v-for="item in accessMode" :value="item.value">{{item.label}}</option>
										</select>
										<img src="../../public/img/down.png" alt="" class="down" />
									</div>
								</li>
								<li>
									<div>
										<span>接入点</span>
									</div>
									<div>
										<input type="text" placeholder="接入点" v-model="nVal.linkAccessPoint" />
									</div>
								</li>
								<li>
									<div>
										<span>ANP服务器</span>
									</div>
									<div>
										<input type="text" placeholder="密码" v-model="nVal.apnSrver" />
									</div>
								</li>
								<li>
									<div>
										<span>ANP用户名</span>
									</div>
									<div>
										<input type="text" placeholder="密码" v-model="nVal.apnUser" />
									</div>
								</li>
								<li>
									<div>
										<span>ANP密码</span>
									</div>
									<div>
										<input type="password" placeholder="密码" v-model="nVal.apnPassword" />
									</div>
								</li>
								<li class="btn" style="margin-bottom: 10px;">
									<button class="setting" v-on:tap="netSet()">设 置</button>
								</li>
							</ul>
							<!--*********************内置电台**********************-->
							<ul v-show="lActive === 'UHF'">
								<li>
									<div>
										<span>通道设置</span>
									</div>
									<div class="select">
										<select name="" v-model="uVal.link_channel">
											<option v-for="item in channel" :value="item.value">{{item.label}}</option>
										</select>
										<img src="../../public/img/down.png" alt="" class="down" />
									</div>
								</li>
								<li class="channel_content">
									<div class="channel_title">
										<span>频道设置</span>
									</div>
									<div class="channel">
										<input type="text" v-model="channelValue1" />
										<input type="text" v-model="channelValue1" />
										<input type="text" v-model="channelValue1" />
										<input type="text" v-model="channelValue1" />
										<input type="text" v-model="channelValue1" />
										<input type="text" v-model="channelValue1" />
										<input type="text" v-model="channelValue1" />
										<input type="text" v-model="channelValue1" />
										<input type="text" v-model="channelValue1" />
										<input type="text" v-model="channelValue1" />
										<input type="text" v-model="channelValue1" />
										<input type="text" v-model="channelValue1" />
										<input type="text" v-model="channelValue1" />
										<input type="text" v-model="channelValue1" />
										<input type="text" v-model="channelValue1" />
										<input type="text" v-model="channelValue1" />
									</div>
								</li>
								<li>
									<div>
										<span>功率档位</span>
									</div>
									<div class="select">
										<select name="" v-model="uVal.UHFPowerRadios">
											<option v-for="item in powerPosition" :value="item.value">{{item.label}}</option>
										</select>
										<img src="../../public/img/down.png" alt="" class="down" />
									</div>
								</li>
								<li>
									<div>
										<span>空中波特率</span>
									</div>
									<div class="select">
										<select name="" v-model="uVal.braundrateAir">
											<option v-for="item in baudRate" :value="item.value">{{item.label}}</option>
										</select>
										<img src="../../public/img/down.png" alt="" class="down" />
									</div>
								</li>
								<li>
									<div>
										<span>选择协议</span>
									</div>
									<div class="select">
										<select name="" v-model="uVal.link_UHF_protocol">
											<option v-for="item in protocol" :value="item.value">{{item.label}}</option>
										</select>
										<img src="../../public/img/down.png" alt="" class="down" />
									</div>
								</li>
								<li class="btn" style="margin-bottom: 10px;">
									<button class="setting" v-on:tap="uhfSet()">设 置</button>
								</li>
							</ul>
						</div>
<!--**************************************************************tab3****************************************************************-->
						<div id="item3mobile" class="mui-slider-item mui-control-content">
							<ul>
								<li v-for="(item,index) in Satellite">
									<span class="satellite-title">卫星系统</span>
									<div class="satellite-set">
										<span>{{item.name}}</span>
										<div>
											<span></span>
											<div class="mui-switch" :class="{'mui-active':item.status === true}">
												<div class="mui-switch-handle"></div>
											</div>
											<a @click="setSatelliteNum(index)">设置卫星号</a>
										</div>
									</div>
									<span class="satellite-title">跟踪状态</span>
									<div class="tracking-status">
										<span>{{item.trackChecked}}</span>
										<a @click="settrackNum(index)">修改跟踪频段</a>
									</div>
								</li>
								<button class="ClearEphemeris" v-on:tap="clearEphemerisPage()">清除星历</button>
							</ul>
						</div>

<!--**************************************************************tab4****************************************************************-->
						<div id="item4mobile" class="mui-slider-item mui-control-content">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell">
									<span class="otherTitle">使用语音</span>
									<div class="otherContent">
										<div class="mui-switch" :class="{'mui-active':voiceEnable === true}">
											<div class="mui-switch-handle"></div>
										</div>
									</div>
								</li>
								<li class="mui-table-view-cell">
									<span class="otherTitle">选择语言</span>
									<div class="otherContent select">
										<select v-model="lanCheck" name="language" id="language" >
											<option v-for="v in oVal.language" :value="v">{{v|transLan}}</option>
										</select>
										<span></span>
										<img src="../../public/img/dropdown.png" alt="" class="down" />
									</div>
								</li>
								<li class="mui-table-view-cell">
									<span class="otherTitle" style="padding-top: 22px;">电台</span>
									<div class="otherContent">
										<ul class="radioModule">
											<li>
												<span>模块</span>
												<span>操作</span>
												<span>状态</span>
											</li>
											<li>
												<span>主板</span>
												<!--<button @click="selfCheck('checkOEM')">启动自检</button>-->
												<a href="#" @click="selfCheck('checkOEM')">
													<span class="icon-self-test"></span>
													启动自检
												</a>
												<span>{{ oVal.oemcheck }}</span>
											</li>
											<li>
												<span>电台</span>
												<!--<button @click="selfCheck('checkUHF')">启动自检</button>-->
												<a href="#" @click="selfCheck('checkUHF')">
													<span class="icon-self-test"></span>
													启动自检
												</a>
												<span>{{ oVal.uhfcheck}}</span>
											</li>
											<li>
												<span>网络</span>
												<!--<button @click="selfCheck('checkNET')">启动自检</button>-->
												<a href="#" @click="selfCheck('checkNET')">
													<span class="icon-self-test"></span>
													启动自检
												</a>
												<span> {{ oVal.netcheck}}</span>
											</li>
											<li>
												<span>wifi</span>
												<!--<button @click="selfCheck('checkWIFI')">启动自检</button>-->
												<a href="#" @click="selfCheck('checkWIFI')">
													<span class="icon-self-test"></span>
													启动自检
												</a>
												<span>{{ oVal.wificheck}}</span>
											</li>
										</ul>
										<div class="line1"></div>
										<div class="line2"></div>
									</div>
								</li>
								<li>
									<span class="otherTitle positionAdjust">其他设置</span>
									<div class="otherContent btn">
										<div>
											<a @click="otherSet('FORMAT')">
												<span class="icon-format"></span>
											</a>
											<span>磁盘格式化</span>
										</div>
										<div>
											<a @click="otherSet('RECOVER')">
												<span class="icon-restore"></span>
											</a>
											<span>恢复出厂设置</span>
										</div>
										<div>
											<a @click="otherSet('RESET')">
												<span class="icon-reset"></span>
											</a>
											<span>重置</span>
										</div>
										<div>
											<a @click="otherSet('POWEROFF')">
												<span class="icon-close"></span>
											</a>
											<span>关闭主机</span>
										</div>
									</div>
								</li>
								<li>
									<span class="otherTitle">设备注册</span>
									<div class="otherContent">
										<span class="mainTitle">注册码期限</span>
										<span class="deadline">{{oVal.regday}}</span>
									</div>
									<div class="otherContent update">
										<span class="mainTitle">更新注册码</span>
										<input type="text" v-model="oVal.regCode"/>
										<button @click="regCode()">确认</button>
									</div>
								</li>
								<li>
									<span class="otherTitle">固件升级</span>
									<div class="otherContent remoteUpdate">
										<span class="mainTitle">远程更新</span>
										<input type="text" />
										<button>确认</button>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>



			<!--**************************设置卫星号弹窗****************************-->
			<div id="setSatelliteNum" class="mui-popover Satellite">
				<div class="content">
					<span>设置{{currentSatelliteName}}卫星号
				</span>
					<div class="mui-input-row mui-checkbox mui-left selectAll">
						<label>全选</label>
						<input type="checkbox" v-model="satelliteAllChecked">
					</div>
					<hr>
					<ul>
						<li>
							<div class="mui-input-row mui-checkbox mui-left" v-for="(data,index) in currentSatellite.SatelliteNumber">
								<label>{{data.label}}</label>
								<input name="checkbox" type="checkbox" :value="data.value" v-model="SatelliteNumberChecked">
								<!-- <input name="checkbox" type="checkbox" :value="data.value" v-model="satelliteChecked"> -->
							</div>
						</li>
					</ul>
					<div class="btn">
						<button v-on:tap="closeSetSatellite()">取消</button><button v-on:tap="setSatellite(currentSatelliteIndex)">确认</button>
					</div>
				</div>
			</div>

			<!--**************************设置跟踪频段弹窗****************************-->
			<div id="setTrack" class="mui-popover track">
				<div class="content">
					<span>修改{{currentSatelliteName}}跟踪频段</span>
					<div class="mui-input-row mui-checkbox mui-left selectAll">
						<label>全选</label>
						<input name="checkbox" value="item.value" type="checkbox" v-model="channelsAllChecked">
					</div>
					<hr>
					<ul>
						<li>
							<div class="mui-input-row mui-checkbox mui-left" v-for="item in currentSatellite.track">
								<label>{{item.label}}</label>
								<input name="checkbox" :value="item.value" type="checkbox" v-model="channelsChecked">
							</div>
						</li>
					</ul>
					<div class="btn">
						<button v-on:tap="closeSetTrack()">取消</button><button v-on:tap="setTrack(currentTrackIndex)">确认</button>
					</div>
				</div>
			</div>

			<!--**************************选择模式确认弹窗****************************-->
			<div id="selectionMode" class="mui-popover track">
				<div class="content">
					<span>确认</span>
					<hr>
					<div>

						<span>确认切换到{{currentMode}}？</span>
					</div>
					<div class="btn">
						<button v-on:tap="closeSelectionMode">取消</button><button v-on:tap="changeMode(currentModeIndex)">确认</button>
					</div>
				</div>
			</div>

			<!--**************************选择链路确认弹窗****************************-->
			<div id="selectionLink" class="mui-popover track">
					<div class="content">
						<span>确认</span>
						<hr>
						<div>

							<span>确认切换到{{currentLink}}？</span>
						</div>
						<div class="btn">
							<button v-on:tap="closeSelectionLink">取消</button><button v-on:tap="changeLink(currentLinkIndex)">确认</button>
						</div>
					</div>
			</div>

			<!--**************************清除星历弹窗****************************-->
			<div id="clearEphemeris" class="mui-popover track">
				<div class="content">
					<span>确认</span>
					<hr>
					<div>

						<span>确定清除卫星星历？</span>
					</div>
					<div class="btn">
						<button v-on:tap="closeClearEphemerisPage">取消</button><button v-on:tap="clearEphemeris()">确认</button>
					</div>
				</div>
		</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/app.js"></script>
		<script src="../../js/url.js"></script>
		<script src="../../js/socket.io.js"></script>
		<script src="../../js/vue.min.js"></script>
		<script src="../js/onlineSettings.js?t=1"></script>
	</body>

</html>